{% extends 'users/base.html' %}

{% block body %}

<div class="max-w-2xl mx-auto mt-8">

   <form method="GET" class="mb-6 flex gap-2">

    <input 
        type="text" 
        name="q" 
        placeholder="Search users..."
        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-400"
    >

    <button 
        type="submit"
        class="px-4 py-2 bg-black text-white rounded-lg hover:opacity-90"
    >
        🔍
    </button>

</form>

    <!-- RESULTS -->
    {% for user in users %}
    <div class="flex items-center justify-between p-3 bg-white rounded-lg mb-3 shadow">

        <a href="{% url 'profile' user.username %}">
            <p class="font-semibold">@{{ user.username }}</p>
        </a>

    </div>
    {% empty %}
        <p class="text-gray-500">No users found</p>
    {% endfor %}

</div>

{% endblock %}